.image-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.image-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.image-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .image-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .image-column {
    flex: 100%;
    max-width: 100%;
  }
}